<div id="<%= dom_id trip %>">
  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destinations:</strong>
    <%= trip.destinations %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= trip.available_seats %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= trip.departure_date %>
  </p>

</div>
