<div id="<%= dom_id trip %>">

  <div class="card container">
    <div class="card-header">
      Driver: 
      <%= trip.user.name %>
      <%= trip.user.surname %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Origin: <%= trip.origin.titleize %></h5>
      <h5 class="card-title">Destinations: <%= trip.destinations.map { |w| w.titleize } %></h5>
      <p class="card-text">Trip status: <%= trip.trip_status %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">→ Available seats: <%= trip.available_seats %></li>
        <li class="list-group-item">→ Departure date: <%= trip.departure_date %></li>
        <li class="list-group-item">→ Kids age range: <%= trip.kids_age_range %></li>
        <li class="list-group-item">→ Pets: <%= trip.pets %></li>
        <li class="list-group-item">→ Lugagge: <%= trip.luggage %></li>
        <li class="list-group-item">→ Vehicle type: <%= trip.vehicle.vehicle_type %></li>
        <li class="list-group-item">→ Gasoline comission: <%= trip.gasoline_comission %></li>
        <li class="list-group-item">
          <% if trip.finalized? %>
            <strong>List of passengers:</strong>
            <%= trip.passengers_list %>
          <% end %>
        </li>
      </ul>
      <%= link_to "Show this trip", trip, class: "btn btn-primary" %>
    </div>
  </div>
</div>
