<div id="<%= dom_id trip %>">
  <p>
    <strong>User:</strong>
    <%= User.where(id: trip.user).map { |elm| "#{elm.name} #{elm.surname}" } %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destinations:</strong>
    <%= trip.destinations %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= trip.available_seats %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= trip.departure_date %>
  </p>

  <p>
    <strong>Kids age range:</strong>
    <%= trip.kids_age_range %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= trip.pets %>
  </p>

  <p>
    <strong>Lugagge:</strong>
    <%= trip.luggage %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= Vehicle.where(id: trip.vehicle_id).map { |elm| elm.vehicle_type } %>
  </p>

  <p>
    <strong>Gasoline comission:</strong>
    <%= trip.gasoline_comission %>
  </p>

</div>
