<%= form_with url: "/users/#{current_user.id}/driver", method: :get do |f| %>
  <%= f.label :start_date, style: "display: block" %>
  <%= f.date_field :start_date %>
  <%= f.label :end_date, style: "display: block" %>
  <%= f.date_field :end_date %>
  <%= f.submit "Search" %>
<% end %>

<% @trips.each do |trip| %>
  <div style="border: 1px solid red;">
    <%= render trip %>
    <p>
      <%= link_to "Show this trip", trip %>
    </p>
  </div>
<% end %>

<%= link_to "New trip", new_trip_path %>

