<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>phone_number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
