<% if user_signed_in? %>

  <h2>Welcome! <%= current_user.name %></h2>

  <%= link_to "List of trips", trips_path %> |
  <%= link_to "My trip join requests", my_requests_path %> |

  <% if current_user.driver? || current_user.admin? %>
    <%= link_to "My trips", driver_user_path(current_user) %> |
    <%= link_to "My vehicles", user_vehicles_path(current_user) %>
  <% end %>

  <% if (current_user.passenger? || current_user.admin?) && DriverRequest.by_user(current_user).by_accepted.size == 0 %>
    <% if DriverRequest.by_user(current_user).size > 0 %>
      <%= link_to "My driver requests", user_driver_requests_url(current_user) %>
    <% end %>
    <% if DriverRequest.by_user(current_user).by_requested.size == 0 %>
      <p>Want to become a driver? <%= link_to "Fill this form!", new_user_driver_request_path(current_user) %></p>
    <% end %>
  <% end %>
<% else %>
  <h3>New user?</h3>
  <%= link_to "Sign up", new_user_registration_path %>
  <h3>Already registered?</h3>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
