<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
 <h2>Welcome! <%= current_user.name %></h2>
 <p>Your role is <span style="text-transform: uppercase;"><%= current_user.role %></span></p>

 <%= link_to "List of trips", trips_path %>
 <% if current_user.role == "admin" %>
 <%= link_to "List of users", users_path %>
 <% end %>
<% else %>
<h3>New user?</h3>
<%= link_to "Sign up", new_user_registration_path %>

<h3>Already registered?</h3>
<%= link_to "Sign in", new_user_session_path %>
<% end %>


