<%= form_with(model: [:trip, trip_join_request]) do |form| %>
  <% if trip_join_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip_join_request.errors.count, "error") %> prohibited this trip_join_request from being saved:</h2>

      <ul>
        <% trip_join_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :companions, style: "display: block" %>
    <%= form.number_field :companions, min: 0, max: Trip.find(params[:trip_id]).available_seats - 1 %>
  </div>

  <div>
    <%= form.label :pets, style: "display: block" %>
    <%= form.number_field :pets, min: 0, max: Trip.find(params[:trip_id]).pets %>
  </div>

  <div>
    <%= form.label :luggage, style: "display: block" %>
    <%= form.number_field :luggage, min: 0, max: Trip.find(params[:trip_id]).luggage %>
  </div>

  <div>
    <%= form.label :kids, style: "display: block" %>
    <%= form.select :kids, TripJoinRequest.kids_ranges.map { |k, v| k }, { include_hidden: false }, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
