<div id="<%= dom_id trip_join_request %>">
  <p>
    <strong>Companions:</strong>
    <%= trip_join_request.companions %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= trip_join_request.pets %>
  </p>

  <p>
    <strong>Luggage:</strong>
    <%= trip_join_request.luggage %>
  </p>

  <p>
    <strong>Kids:</strong>
    <%= trip_join_request.kids %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= trip_join_request.stage %>
  </p>

</div>
