<p style="color: green"><%= notice %></p>

<h1>Trip join requests</h1>

<div id="trip_join_requests">
  <% @trip_join_requests.each do |trip_join_request| %>
    <%= render trip_join_request %>
    <p>
      <%= link_to "Show this trip join request", trip_trip_join_request_path(trip_join_request.trip, trip_join_request) %>å
    </p>
  <% end %>
</div>

<%= link_to "New trip join request", new_trip_trip_join_request_path %>
<%= link_to "Back to trip", trip_path(params[:trip_id]) %>
