<p style="color: green"><%= notice %></p>

<%= render @trip_join_request %>

<% if current_user.id == @trip_join_request.trip.user.id && @trip_join_request.stage == "requested" %>
  <%= form_with url: trip_accepted_path(trip_id: params[:trip_id], id: params[:id]), method: :put do |f| %>
    <%= f.submit "Aceptar"%>
  <% end %>
  <%= form_with url: trip_rejected_path(trip_id: params[:trip_id], id: params[:id]), method: :put do |f| %>
    <%= f.submit "Rechazar"%>
  <% end %>
<% end %>

<% if current_user.id == @trip_join_request.user.id && @trip_join_request.stage == "accepted" %>
  <%= form_with url: trip_payment_in_progress_path(trip_id: params[:trip_id], id: params[:id]), method: :put do |f| %>
    <%= f.submit "Pagar"%>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this trip join request", edit_trip_trip_join_request_path(trip_id: params[:trip_id], id: @trip_join_request) %> |
  <%= link_to "Back to trip join requests", trip_trip_join_requests_path %>
  <%= link_to "Back to trip", trip_path(id: params[:trip_id]) %>

  <%= button_to "Destroy this trip join request", trip_trip_join_request_path(id: @trip_join_request), method: :delete %>
</div>
