<p style="color: green"><%= notice %></p>

<div class="container">
  <%= render @trip_join_request %>

  <% if current_user.id == @trip_join_request.trip.user.id && @trip_join_request.stage == "requested" %>
    <div class="btn-group-inline">
      <%= button_to "Accept", trip_accepted_path(trip_id: params[:trip_id], id: params[:id]), method: :put, class: "btn btn-sucess" %>
      <%= button_to "Reject", trip_rejected_path(trip_id: params[:trip_id], id: params[:id]), method: :put, class: "btn btn-warning" %>
    </div>
  <% end %>

  <% if current_user.id == @trip_join_request.user.id && @trip_join_request.stage == "accepted" %>
    <%= button_to "Make payment", trip_payment_in_progress_path(trip_id: params[:trip_id], id: params[:id]), method: :put, class: "btn btn-success" %>
  <% end %>

  <% if @trip_join_request.stage == "payment_in_progress" %>
    <% if @trip_join_request.transfer_receipt? %>
      <% if current_user.id == @trip_join_request.trip.user.id %>
        <%= link_to "See payment receipt", payment_receipt_trip_trip_join_request_checkouts_path(trip_join_request_id: @trip_join_request), class: "btn btn-primary" %><br>
      <% else %>
        <p>The driver is checking the payment</p>
      <% end %>
    <% else %>
      <% if current_user.id == @trip_join_request.user.id %>
        <%= link_to "Go back to payment methods", trip_trip_join_request_checkouts_path(trip_join_request_id: @trip_join_request), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <% if @trip_join_request.stage == "payment_failed" %>
    <% if current_user.id == @trip_join_request.user.id %>
      <p style="color: red;">The payment you provided has not been accepted.</p>
      <%= button_to "Retry payment", trip_payment_in_progress_path(trip_id: params[:trip_id], id: params[:id]), method: :put, class: "btn btn-warning" %>
    <% end %>
  <% end %>
    
  <br>
  <div class="btn-group-inline">
    <% if current_user.id == @trip_join_request.user.id %>
      <%= link_to "Edit this trip join request", edit_trip_trip_join_request_path(trip_id: params[:trip_id], id: @trip_join_request), class: "btn btn-primary" %>
      <%= button_to "Destroy this trip join request", trip_trip_join_request_path(id: @trip_join_request), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Back to trip join requests", trip_trip_join_requests_path, class: "btn btn-secondary" %>
    <%= link_to "Back to trip", trip_path(id: params[:trip_id]), class: "btn btn-secondary" %>
  </div>
</div>
