<p style="color: green"><%= notice %></p>

<%= render @driver_request %>

<div>
  <%= link_to "Edit this request", edit_user_driver_request_path(@driver_request) %> |
  <%= link_to "Back to home", root_path %>

  <%= button_to "Destroy this driver request", @driver_request, method: :delete %>
</div>
