<h1>Payment receipt</h1>

<img src=<%= @trip_join_request.transfer_receipt.url %> alt="Payment receipt" />

<h4>Accept payment?</h4>

<%= form_with url: trip_paid_path(trip_id: params[:trip_id], id: params[:trip_join_request_id]), method: :put do |f| %>
    <%= f.submit "Accept" %>
<% end %>
<%= form_with url: trip_accepted_path(trip_id: params[:trip_id], id: params[:trip_join_request_id]), method: :put do |f| %>
  <%= f.submit "Reject" %>
<% end %>