<div id="<%= dom_id vehicle %>">
  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Air conditioning:</strong>
    <%= vehicle.air_conditioning %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

  <p>
    <strong>Consumption:</strong>
    <%= vehicle.consumption %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= vehicle.nickname %>
  </p>

</div>
