<!DOCTYPE html>
<html>
  <head>
    <title>Shatit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller_name != "home" %>
      <%= link_to "Home", root_path %><br />
      <% if user_signed_in? %>
        <% if current_user.driver? %>
          <%= link_to "My trips", driver_user_path(current_user) %> |
        <% end %>
        <%= link_to "My trip join requests", my_requests_path %>
      <% end %>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
